* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./pictures/Sky.png");
  font-family: 'monospace';
}

canvas {
  border: 5px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#main {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
  height: 180px;
  align-items: end;
}

#layer1,
#layer2,
#tank,
#tankbody,
#tanktrack,
#tankturret,
#fire,
#fire1,
#fire2,
#fire3,
#fire4,
#fire5,
#fire6,
#fire7,
#fire8,
#fire9,
#fire10,
#fire11,
#fire12 {
  position: relative;
  z-index: 1;
}